//layover
.layover_container
    position: absolute
    top: 0
    left: 0
    bottom: 0
    right: 0
    background-color: green
    width: 100vw
    height: 100vh
    z-index: 100
    animation: fade_in 0.4s ease-in-out forwards

    &_close
        animation: fade_out 0.4s ease-in-out forwards