h1, h2, h3, p {
  margin: 0;
  padding: 0;
}

p {
  font-size: 0.9375rem;
  color: #666161;
  text-align: justify;
}

h2 {
  font-size: 1.6875rem;
  font-weight: bold;
  color: #666161;
}

h3 {
  font-size: 1.25rem;
  font-weight: bold;
  color: #666161;
}

a, a:visited, a:hover {
  text-decoration: none;
}

svg {
  display: block;
}

ul {
  list-style-type: none;
}

table, td, th {
  border: 0;
}

table {
  width: 100%;
  border-collapse: collapse;
}

td {
  text-align: center;
  vertical-align: middle;
}

th, td {
  padding-bottom: 0.9375rem;
  padding-top: 0.9375rem;
}

input {
  appearance: none;
  border-radius: 1.25rem;
  padding: 0.515625rem 1rem;
  color: #000000;
}

input:focus {
  color: #000000;
  box-shadow: none;
}

input:invalid {
  box-shadow: none;
}

.flex {
  display: flex;
}

.flex_jc_sb {
  justify-content: space-between;
}

.flex_jc_c {
  justify-content: center;
}

.flex_ai_c {
  align-items: center;
}

.flex_ai_fs {
  align-items: flex-start;
}

.flex_dr_c {
  flex-direction: column;
}

.flex_dr_cr {
  flex-direction: column-reverse;
}

.flex_dr_r {
  flex-direction: row;
}

.flex_dr_rr {
  flex-direction: row-reverse;
}

.layover {
  position: fixed;
  top: 3.25rem;
  left: 0;
  bottom: 0;
  right: 0;
  background: #ffffff;
  width: 100vw;
  height: 100vh;
  padding: 6.25rem 0.625rem;
  text-align: center;
  z-index: 100;
  animation: fade_in 0.4s ease-in-out forwards;
}

.layover > a {
  display: block;
  border-radius: 1.25rem;
  margin: 0 auto;
  font-weight: bold;
  font-size: 1.25rem;
  color: #000000;
  opacity: 0;
  transform: translateY(-6.25rem);
}

.layover > a:nth-last-child(1) {
  animation: fly_down 0.4s ease-in-out forwards;
}

.layover > a:nth-last-child(2) {
  animation: fly_down 0.4s ease-in-out forwards;
  animation-delay: 0.1s;
}

.layover > a:nth-last-child(3) {
  animation: fly_down 0.4s ease-in-out forwards;
  animation-delay: 0.2s;
}

.layover > a:nth-last-child(4) {
  animation: fly_down 0.4s ease-in-out forwards;
  animation-delay: 0.3s;
}

.layover > a:not(:first-child) {
  margin-top: 1.875rem;
}

.fit {
  top: 5.25rem;
}

.thin {
  top: 3.25rem;
}

.hero {
  position: relative;
  height: 100%;
  background-image: url("../images/svg/hero.svg");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  transition: all 0.3s ease-in-out;
}

@media (min-width: 75em) {
  .hero {
    justify-content: center;
  }
}

@media (min-width: 75em) {
  .hero_content {
    flex-direction: row;
    justify-content: center;
  }
}

.hero_nav {
  text-align: center;
  color: #ffffff;
}

.hero_nav h1 {
  font-size: 1.875rem;
  line-height: 1.6;
  margin-bottom: 2.5rem;
  transition: all 0.3s ease-in-out;
}

@media (min-width: 34.375em) {
  .hero_nav h1 {
    font-size: 2.5rem;
    margin-bottom: 1.375rem;
  }
}

.hero_links {
  margin-bottom: 2.5rem;
}

@media (max-width: 34.3125em) {
  .hero_links {
    display: none;
  }
}

.hero_links div {
  width: 7.375rem;
  height: 1.75rem;
  font-size: 1.25rem;
  font-weight: bold;
  overflow: hidden;
}

.hero_links div li {
  position: relative;
}

.hero_links div li a {
  color: #ffffff;
}

.hero_links .left_nav {
  border-right: 0.0625rem solid rgba(255, 255, 255, 0.8);
  padding-right: 1.125rem;
  text-align: right;
}

.hero_links .left_nav li:nth-child(1) {
  margin-top: 0.25rem;
}

.hero_links .left_nav li:nth-child(1)::before {
  position: absolute;
  top: 0.5rem;
  right: 0;
  content: '';
  height: 0.25rem;
  width: 0;
  background-color: #ffffff;
  z-index: -1;
  transition: all 0.3s ease-in-out;
}

.hero_links .left_nav li:nth-child(1):hover::before {
  width: 63%;
}

.hero_links .left_nav li:nth-child(2) {
  margin-top: 1.6875rem;
  opacity: 0;
  transform: translateX(6.25rem);
}

.hero_links .left_nav li:nth-child(2)::before {
  position: absolute;
  top: 0.5rem;
  right: 0;
  content: '';
  height: 0.25rem;
  width: 0;
  background-color: #ffffff;
  z-index: -1;
  transition: all 0.3s ease-in-out;
}

.hero_links .left_nav li:nth-child(2):hover::before {
  width: 72%;
}

.hero_links .right_nav {
  border-left: 0.0625rem solid rgba(255, 255, 255, 0.8);
  padding-left: 1.125rem;
  text-align: left;
}

.hero_links .right_nav li:nth-child(1) {
  margin-top: 1.6875rem;
  opacity: 0;
  transform: translateX(-6.25rem);
}

.hero_links .right_nav li:nth-child(1)::before {
  position: absolute;
  top: 0.5rem;
  left: 0;
  content: '';
  height: 0.25rem;
  width: 0;
  background-color: #ffffff;
  z-index: -1;
  transition: all 0.3s ease-in-out;
}

.hero_links .right_nav li:nth-child(1):hover::before {
  width: 100%;
}

.hero_links .right_nav li:nth-child(2) {
  margin-top: 1.6875rem;
  opacity: 0;
  transform: translateX(-6.25rem);
}

.hero_links .right_nav li:nth-child(2)::before {
  position: absolute;
  top: 0.5rem;
  left: 0;
  content: '';
  height: 0.25rem;
  width: 0;
  background-color: #ffffff;
  z-index: -1;
  transition: all 0.3s ease-in-out;
}

.hero_links .right_nav li:nth-child(2):hover::before {
  width: 100%;
}

.hero_button {
  display: inline-block;
  background-color: #ffffff;
  border-radius: 1.25rem;
  padding: 0.4375rem 1.25rem;
  color: #E0682F;
  font-size: 0.9375rem;
  font-weight: bold;
}

.hero_image {
  max-width: 10.5rem;
  width: 100%;
  margin: 2.875rem auto 0 auto;
  transition: all 0.3s ease-in-out;
}

@media (min-width: 34.375em) {
  .hero_image {
    max-width: 15.625rem;
  }
}

@media (min-width: 75em) {
  .hero_image {
    max-width: 18.75rem;
    margin: 0 0 0 1.875rem;
  }
}

.hero_image img {
  width: 100%;
  margin: 0 auto;
}

.hero_image .shadow {
  border-radius: 50%;
  filter: blur(0.1875rem);
  width: 90%;
  margin: 0.4375rem auto 0 auto;
  height: 0.3125rem;
  background-color: rgba(0, 0, 0, 0.3);
}

.hero_border {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.intro {
  padding-top: 8.1875rem;
  transition: all 0.3s ease-in-out;
}

@media (min-width: 56.25em) {
  .intro {
    padding-top: 12.9375rem;
  }
}

.intro_container .title {
  max-width: 82.25rem;
  min-width: 18.75rem;
  width: 100%;
  margin: 0 auto;
}

.intro_container .title h2 {
  margin: 0 1.25rem 2.5rem 1.25rem;
  text-align: center;
}

@media (min-width: 34.375em) {
  .intro_container .title h2 {
    font-size: 1.6875rem;
  }
}

@media (min-width: 82.5625em) {
  .intro_container .title h2 {
    text-align: left;
  }
}

.intro_content {
  max-width: 82.25rem;
  min-width: 18.75rem;
  width: 100%;
  margin: 0 auto;
  padding: 0 1.25rem;
  transition: all 0.3s ease-in-out;
}

@media (min-width: 34.375em) {
  .intro_content {
    padding: 0 4.375rem;
  }
}

@media (min-width: 56.25em) {
  .intro_content {
    flex-direction: row;
    padding-left: 6.5rem;
    padding-right: 2.9375rem;
  }
}

.intro_content .image_left {
  position: relative;
  max-width: 12.5rem;
  width: 100%;
  padding-left: 1.75rem;
  align-items: flex-start;
  margin: 0 auto;
  margin-bottom: 6.5rem;
}

@media (min-width: 34.375em) {
  .intro_content .image_left {
    max-width: 25.875rem;
  }
}

@media (min-width: 56.25em) {
  .intro_content .image_left {
    margin-bottom: 0;
  }
}

@media (min-width: 82.5625em) {
  .intro_content .image_left {
    border-right: 0.125rem solid #666161;
    padding-right: 2.5rem;
  }
}

.intro_content .image_left svg {
  width: 100%;
  height: 100%;
}

.intro_content .image_left svg #blob1 {
  visibility: hidden;
}

.intro_content .image_left .boot_image {
  align-items: center;
  position: absolute;
  bottom: 5%;
  left: 0;
  width: 100%;
}

.intro_content .image_left .boot_image .boot {
  width: 65%;
  align-self: flex-start;
  object-fit: contain;
}

.intro_content .image_left .boot_image .space {
  width: 35%;
}

.intro_content .content_right {
  line-height: 1.5;
  transition: all 0.3s ease-in-out;
}

@media (min-width: 56.25em) {
  .intro_content .content_right {
    padding-left: 1.25rem;
  }
}

@media (min-width: 82.5625em) {
  .intro_content .content_right {
    padding-left: 2.5rem;
  }
}

.services {
  padding-top: 11.1875rem;
  text-align: center;
  transition: all 0.3s ease-in-out;
}

@media (min-width: 60.3125em) {
  .services {
    padding-top: 20.0625rem;
  }
}

.services h2 {
  margin: 0 1.25rem 3.75rem 1.25rem;
}

@media (min-width: 34.375em) {
  .services h2 {
    font-size: 1.6875rem;
  }
}

.services_box_container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(17.8125rem, 1fr));
  grid-gap: 0.625rem;
  max-width: 75rem;
  width: 100%;
  margin: 0 auto;
  padding: 0 1.25rem;
}

.services_box_container .boxes {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2.0625rem 4.125rem;
  background-color: #ffffff;
  border-radius: 0.625rem;
  -webkit-font-smoothing: subpixel-antialiased;
  box-shadow: 0 0.5rem 0.75rem rgba(0, 0, 0, 0.3);
}

@media (min-width: 60.3125em) {
  .services_box_container .scale_card {
    transform: scaleY(1.15);
  }
}

.about {
  position: relative;
  margin-top: 13.5625rem;
  padding: 8.75rem 1.25rem 13.4375rem 1.25rem;
  background-image: url("../images/svg/about_us_background.svg");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
}

@media (min-width: 34.375em) {
  .about {
    padding-bottom: 16.0625rem;
    padding-top: 11.25rem;
  }
}

.about_logo {
  max-width: 14.625rem;
  width: 100%;
  margin: 0 auto 6.25rem auto;
}

.about_logo svg {
  width: 100%;
}

.about_info {
  position: relative;
  max-width: 21.875rem;
  width: 100%;
  margin: 0 auto;
  padding: 3.5rem 1.125rem;
  line-height: 1.5;
  background-color: #ffffff;
  border-radius: 0.625rem;
}

@media (min-width: 34.375em) {
  .about_info {
    max-width: 34.375rem;
    padding: 3.5rem 2.5rem;
  }
}

.about_info .avatar {
  border: 0.3125rem solid white;
  border-radius: 100%;
  position: absolute;
  top: -2.5rem;
  left: 50%;
  width: 4.375rem;
  padding: 0.3125rem;
  background-color: #140F1B;
  transform: translateX(-50%);
  transition: all 0.3s ease-in-out;
}

@media (min-width: 34.375em) {
  .about_info .avatar {
    width: 4.6875rem;
    top: -2.8125rem;
  }
}

.about_info .avatar img {
  display: block;
  width: 100%;
}

.brands {
  padding-top: 6.25rem;
  transition: all 0.3s ease-in-out;
}

@media (min-width: 75em) {
  .brands {
    padding-top: 10.875rem;
  }
}

.brands_container {
  max-width: 53.5rem;
  min-width: 18.75rem;
  width: 100%;
  margin: 0 auto;
  padding: 0 1.25rem;
}

.brands_container .image {
  position: relative;
  max-width: 20rem;
  width: 100%;
  padding-left: 7.8125rem;
  transition: all 0.3s ease-in-out;
}

@media (min-width: 34.375em) {
  .brands_container .image {
    max-width: 25rem;
  }
}

@media (min-width: 75em) {
  .brands_container .image {
    max-width: 53.5rem;
  }
}

.brands_container .image .shoe {
  width: 100%;
  height: 100%;
}

.brands_title {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
  z-index: -1;
}

.brands_title .title {
  width: 55%;
}

@media (min-width: 34.375em) {
  .brands_title .title {
    width: 49%;
  }
}

@media (min-width: 75em) {
  .brands_title .title {
    width: 36.5%;
  }
}

.brands_title .space {
  width: 45%;
  transition: all 0.3s ease-in-out;
}

@media (min-width: 34.375em) {
  .brands_title .space {
    width: 51%;
  }
}

@media (min-width: 75em) {
  .brands_title .space {
    width: 64.5%;
  }
}

.shoes {
  padding-top: 5.9375rem;
  transition: all 0.3s ease-in-out;
}

@media (min-width: 56.25em) {
  .shoes {
    padding-top: 10.0625rem;
  }
}

.shoes_container {
  max-width: 48.1875rem;
  min-width: 18.75rem;
  width: 100%;
  padding: 0 1.25rem;
  margin: 0 auto;
}

.shoes_container img {
  display: block;
  width: 100%;
}

.locations {
  position: relative;
  background-image: url("../images/svg/location_background.svg");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
}

.locations_swirl {
  position: absolute;
  top: 3.125rem;
  left: 0;
}

@media (max-width: 55.5625em) {
  .locations_swirl {
    display: none;
  }
}

.locations_container {
  position: relative;
  max-width: 50rem;
  min-width: 18.75rem;
  width: 100%;
  margin: 0 auto;
  padding: 12rem 1.25rem 0 1.25rem;
}

@media (min-width: 34.375em) {
  .locations_container {
    padding-top: 16rem;
  }
}

@media (min-width: 56.25em) {
  .locations_container {
    padding-top: 31.125rem;
  }
}

.locations_container .logo_container {
  position: absolute;
  top: 6.5rem;
  left: 5rem;
  max-width: 13.4375rem;
  width: 100%;
  z-index: 0;
}

@media (min-width: 34.375em) {
  .locations_container .logo_container {
    max-width: 24.5rem;
    top: 8.75rem;
    left: 6.25rem;
  }
}

@media (min-width: 56.25em) {
  .locations_container .logo_container {
    top: 21.25rem;
    left: 7.8125rem;
  }
}

.locations_container .logo_container img {
  display: block;
  width: 100%;
}

.locations_map {
  border-radius: 1.25rem;
  position: relative;
  width: 100%;
  padding: 2.625rem 1.1875rem;
  background-color: #ffffff;
  box-shadow: 0 0.5rem 0.75rem rgba(0, 0, 0, 0.3);
  z-index: 1;
}

@media (min-width: 56.25em) {
  .locations_map {
    padding: 3.125rem 6rem;
  }
}

.locations_map .map {
  width: 100%;
  height: 10.5rem;
  transition: all 0.3s ease-in-out;
}

@media (min-width: 34.375em) {
  .locations_map .map {
    height: 25rem;
  }
}

.locations_map .stores {
  padding-top: 1.5rem;
}

.locations_map .stores h3 {
  text-align: center;
  font-size: 1.125rem;
  margin: 0.9375rem auto;
}

.locations_map .stores h3, .locations_map .stores p {
  text-align: center;
  transition: all 0.3s ease-in-out;
}

@media (min-width: 56.25em) {
  .locations_map .stores h3, .locations_map .stores p {
    text-align: left;
  }
}

.locations_map .stores .location p {
  text-align: center;
  line-height: 1.5;
}

@media (min-width: 56.25em) {
  .locations_map .stores .mobile_map {
    display: none;
  }
}

@media (max-width: 55.5625em) {
  .locations_map .stores .desktop_map {
    display: none;
  }
}

.locations_map .stores .desktop_map th, .locations_map .stores .desktop_map td {
  color: #666161;
}

.locations_copyright {
  text-align: center;
  padding-top: 16.5rem;
  padding-bottom: 0.625rem;
  font-size: 0.75rem;
}

.contact {
  max-width: 26.6875rem;
  min-width: 18.75rem;
  width: 100%;
  margin: 16.5rem auto 0 auto;
  padding: 0 1.25rem;
  text-align: center;
}

.contact h2 {
  margin-bottom: 2.625rem;
  color: #ffffff;
}

@media (min-width: 34.375em) {
  .contact h2 {
    font-size: 1.6875rem;
  }
}

.contact input {
  border: 0;
  width: 100%;
  font-size: 1.1rem;
  margin-bottom: 0.9375rem;
}

.contact input:focus::placeholder {
  opacity: 0.4;
}

.contact input:not(:focus) {
  color: #666161;
}

.contact textarea {
  border: 0;
  border-radius: 1.25rem;
  width: 100%;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 1.1rem;
  margin-bottom: 0.9375rem;
  padding: 0.5rem 1rem;
  resize: both;
}

.contact textarea:focus {
  color: #666161;
  box-shadow: none;
}

.contact textarea:not(:focus) {
  color: #666161;
}

.contact textarea:invalid {
  box-shadow: none;
}

.contact .contact_btn {
  background-color: #ffffff;
  border-radius: 1.25rem;
  color: #9c9c9c;
  font-size: 1.1rem;
  padding: 0.59375rem;
  width: 5.625rem;
  font-weight: bold;
  transform: perspective(0.0625rem) scale(1) translateZ(0);
  backface-visibility: hidden;
  -webkit-font-smoothing: subpixel-antialiased;
  cursor: pointer;
}

.contact .contact_btn:hover {
  transform: scale(0.95);
  color: #666161;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 100;
}

.header_nav {
  max-width: 82.25rem;
  min-width: 18.75rem;
  width: 100%;
  margin: 0 auto;
  padding: 1.9375rem 1.25rem;
  transition: all 0.3s ease-in-out;
}

@media (min-width: 34.375em) {
  .header_mobile_toggle {
    display: none;
  }
}

.header_mobile_toggle > span {
  display: block;
  transform: rotate(45deg);
  border-radius: 0.3125rem;
  margin-bottom: 0.1875rem;
  background-color: #ffffff;
  transition: all 0.4s ease-in-out;
}

.header_mobile_toggle > span:first-child {
  transform-origin: -0.5625rem 0.625rem;
  width: 0.8125rem;
  height: 0.1875rem;
}

.header_mobile_toggle > span:nth-child(2) {
  transform-origin: 0.625rem 0.1875rem;
  width: 1.625rem;
  height: 0.1875rem;
}

.header_mobile_toggle > span:last-child {
  transform-origin: 1.25rem 0.9375rem;
  width: 0.375rem;
  height: 0.1875rem;
}

.header_open > span:first-child {
  transform-origin: 0.71875rem 0.375rem;
  transform: rotate(136deg);
  width: 1.625rem;
}

.header_open > span:nth-child(2) {
  transform-origin: 0.625rem 0.1875rem;
}

.header_open > span:last-child {
  transform-origin: 0.625rem 0.1875rem;
  opacity: 0;
}

@media (max-width: 34.3125em) {
  .header_social_links {
    display: none;
  }
}

.header_social_links a {
  color: white;
}

.header_social_links a:first-child {
  font-size: 1.0625rem;
}

.header_social_links a:last-child {
  font-size: 1.125rem;
}

.header_social_links a:not(:first-child) {
  margin-left: 0.5rem;
}

.no_background {
  background-color: transparent;
}

.red_background {
  background-color: #FF4000;
}

.small {
  padding: 0.9375rem 1.25rem;
}

.big {
  padding: 1.9375rem 1.25rem;
}

@keyframes fade_in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fly_down {
  0% {
    opacity: 0;
    transform: translateY(-6.25rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
/*# sourceMappingURL=app.css.map */