h1, h2, h3, p {
  margin: 0;
  padding: 0;
}

a, a:visited, a:hover {
  text-decoration: none;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex_jc_sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex_jc_c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex_ai_c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex_ai_fs {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.flex_dr_c {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex_dr_cr {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.flex_dr_r {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.flex_dr_rr {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.layover {
  position: fixed;
  top: 5.25rem;
  left: 0;
  bottom: 0;
  right: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(black), to(rgba(255, 255, 255, 0.8)));
  background: linear-gradient(black, rgba(255, 255, 255, 0.8));
  width: 100vw;
  height: 100vh;
  padding: 6.25rem 0.625rem;
  text-align: center;
  z-index: 100;
  -webkit-animation: fade_in 0.4s ease-in-out forwards;
          animation: fade_in 0.4s ease-in-out forwards;
}

.layover > a {
  display: block;
  border-radius: 1.25rem;
  margin: 0 auto;
  font-weight: bold;
  font-size: 1.25rem;
  color: #ffffff;
  opacity: 0;
  -webkit-transform: translateY(-6.25rem);
          transform: translateY(-6.25rem);
}

.layover > a:nth-last-child(1) {
  -webkit-animation: fly_down 0.4s ease-in-out forwards;
          animation: fly_down 0.4s ease-in-out forwards;
}

.layover > a:nth-last-child(2) {
  -webkit-animation: fly_down 0.4s ease-in-out forwards;
          animation: fly_down 0.4s ease-in-out forwards;
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}

.layover > a:nth-last-child(3) {
  -webkit-animation: fly_down 0.4s ease-in-out forwards;
          animation: fly_down 0.4s ease-in-out forwards;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.layover > a:nth-last-child(4) {
  -webkit-animation: fly_down 0.4s ease-in-out forwards;
          animation: fly_down 0.4s ease-in-out forwards;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.layover > a:not(:first-child) {
  margin-top: 1.875rem;
}

.hero {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF4000), to(#ECC990));
  background: linear-gradient(#FF4000, #ECC990);
  padding-top: 10rem;
}

.hero_nav {
  text-align: center;
  color: #ffffff;
}

.hero_nav h1 {
  font-size: 1.5625rem;
  line-height: 1.6;
  margin-bottom: 1.375rem;
}

@media (max-width: 34.3125em) {
  .hero_links {
    display: none;
  }
}

.hero_button {
  background-color: #ffffff;
  border-radius: 1.25rem;
  color: #E0682F;
  font-size: 0.9375rem;
  font-weight: bold;
  padding: 0.4375rem 1.25rem;
}

.hero_image {
  max-width: 10.5rem;
  width: 100%;
  margin: 2.875rem auto 0 auto;
}

.hero_image img {
  width: 100%;
  margin: 0 auto;
}

.hero_border {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 100;
}

.header_nav {
  max-width: 82.25rem;
  min-width: 18.75rem;
  width: 100%;
  margin: 0 auto;
  padding: 1.9375rem 0.8125rem;
}

@media (min-width: 34.375em) {
  .header_mobile_toggle {
    display: none;
  }
}

.header_mobile_toggle > span {
  display: block;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  border-radius: 0.3125rem;
  margin-bottom: 0.1875rem;
  background-color: #ffffff;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.header_mobile_toggle > span:first-child {
  -webkit-transform-origin: -0.5625rem 0.625rem;
          transform-origin: -0.5625rem 0.625rem;
  width: 0.8125rem;
  height: 0.1875rem;
}

.header_mobile_toggle > span:nth-child(2) {
  -webkit-transform-origin: 0.625rem 0.1875rem;
          transform-origin: 0.625rem 0.1875rem;
  width: 1.625rem;
  height: 0.1875rem;
}

.header_mobile_toggle > span:last-child {
  -webkit-transform-origin: 1.25rem 0.9375rem;
          transform-origin: 1.25rem 0.9375rem;
  width: 0.375rem;
  height: 0.1875rem;
}

.header_open > span:first-child {
  -webkit-transform-origin: 0.71875rem 0.375rem;
          transform-origin: 0.71875rem 0.375rem;
  -webkit-transform: rotate(136deg);
          transform: rotate(136deg);
  width: 1.625rem;
}

.header_open > span:nth-child(2) {
  -webkit-transform-origin: 0.625rem 0.1875rem;
          transform-origin: 0.625rem 0.1875rem;
}

.header_open > span:last-child {
  -webkit-transform-origin: 0.625rem 0.1875rem;
          transform-origin: 0.625rem 0.1875rem;
  opacity: 0;
}

@media (max-width: 34.3125em) {
  .header_social_links {
    display: none;
  }
}

.header_social_links a {
  color: white;
}

.header_social_links a:first-child {
  font-size: 1.0625rem;
}

.header_social_links a:last-child {
  font-size: 1.125rem;
}

.header_social_links a:not(:first-child) {
  margin-left: 0.5rem;
}

.no_background {
  background-color: transparent;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.red_background {
  background-color: #FF4000;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

@-webkit-keyframes fade_in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade_in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fly_down {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-6.25rem);
            transform: translateY(-6.25rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes fly_down {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-6.25rem);
            transform: translateY(-6.25rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes border {
  0% {
    border-radius: 21% 79% 17% 83% / 68% 13% 87% 32%;
  }
  30% {
    border-radius: 86% 14% 49% 51% / 34% 34% 66% 66%;
  }
  60% {
    border-radius: 72% 28% 81% 19% / 15% 73% 27% 85%;
  }
  100% {
    border-radius: 21% 79% 17% 83% / 68% 13% 87% 32%;
  }
}

@keyframes border {
  0% {
    border-radius: 21% 79% 17% 83% / 68% 13% 87% 32%;
  }
  30% {
    border-radius: 86% 14% 49% 51% / 34% 34% 66% 66%;
  }
  60% {
    border-radius: 72% 28% 81% 19% / 15% 73% 27% 85%;
  }
  100% {
    border-radius: 21% 79% 17% 83% / 68% 13% 87% 32%;
  }
}
/*# sourceMappingURL=app.css.map */